.footer {
  padding: 15px 0;
  background-color: #212122;

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    //лечим пробелы между блоками в inline-block:
    font-size: 0;
    @media @screen-gt-s {
      width: 100%;
      height: 70px;
    }
  }

  &__social {
    width: 100%;
    margin: 15px 0 30px;
    @media @screen-gt-s {
      width: 210px;
    }
  }

  &__apps {
    @media @screen-only-s {
      width: 100%;
    }
    margin: 0 0 15px;
    @media @screen-gt-s {
      width: 300px;
    }
  }

  &__fill {
    flex-grow: 1;
  }

  &__copyright {
    border-top: 1px solid #666666;
    padding: 15px 0 8px;
    color: #999999;
    line-height: 20px;
  }
}
